{% extends 'base.html' %}
{% block title %} About{% endblock title  %}

{% block body %}

<style>
    .para{
        margin: 15px; 
    }
</style>

<div class="container-fluid px-0 mb-3">
    <img src="/static/hotel.jfif" class="d-block w-100" alt="...">
</div>
<!-- https://source.unsplash.com/1200x400/?resort,hotel -->
<h1 class="h1 my-4 text-center">About us</h1>
<div class="para">
<p>The beach resort is located on the territory of India. The Dynamite resort will be located near the beach. The resort will consist of a few hotels and residences of different ranking. However, the ranking starts from four starts. Each hotel or residence will have its own swimming pool. On the area of the resort, various facilities and attractions like restaurants, bars, cafes, shops, gardens and so on. The resort is located not far from the sea. The weather is hot throughout the year, however there are rainy seasons. The reason for choosing this location is based on the fact that it is the coolest area, and is a perfect place for vacation; moreover, it is close to the stunning Indian Ocean. Dynamite that offers many facilities such as water sports is located at the site.</p>
</div>
{% endblock body %}