{% extends 'base.html' %}
{% block title %} Services{% endblock title  %}

{% block body %}

<div class="container my-4 ">
    <h2 class="container my-4">Wedding Functions</h2>
    <img src="https://source.unsplash.com/1200x400/?weddings" alt="...">
    <h2 class="container my-4">Corporate Functions</h2>
    <img src="https://source.unsplash.com/1200x400/?office,party" alt="...">
    <h2 class="container my-4">Holiday's spacial </h2>
    <img src="https://source.unsplash.com/1200x400/?holiday,party" alt="...">



</div>
{% endblock body %}
